@import "tailwindcss";

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* :root {
	--primaryColor: rgba(0, 0, 255, 0.987);
	--textColor: white;
	--mainTransition: all 0.3s ease-in-out;
	--mainBack: #d7dbdd;
	--mainShadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
} */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	overflow-x: hidden;
}
/* @theme {
  --font-sans: InterVariable, sans-serif;
  --font-sans--font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
} */

/* template starts here */

:root {
	--primaryColor: rgb(0, 0, 255);
	--textColor: white;
	--mainTransition: all 0.3s ease-in-out;
	--mainBack: #d7dbdd;
	--mainShadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	border-radius: 60%;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	overflow-x: hidden;
}


/* NAVBAR STYLING */
nav {
	position: sticky;
	top: 0;
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	z-index: 9999;
	padding: 0 4rem;
	background-color: #fff;
	/* overflow-x: hidden; */
}
.nav-links {
	display: flex;
	flex-direction: row;
}
.logo a {
	text-decoration: none;
	color: var(--textColor);
	font-size: 1.5rem;
	font-weight: 300;
}
.nav-link a {
	text-decoration: none;
	padding-right: 1.5rem;
	color: var(--textColor);
}
.action-links a:hover,
.nav-link a:hover {
	color: var(--primaryColor);
	cursor: pointer;
}
.action-links a {
	text-decoration: none;
	padding-right: 1rem;
	color: var(--textColor);
}
.action-links button {
	background-color: var(--primaryColor);
	padding: 15px 40px;
	border: none;
	border-radius: 10px;
}
.action-links button:hover {
	cursor: pointer;
	border: 1px solid var(--primaryColor);
	background: transparent;
	transition: var(--mainTransition);
}
.toggler {
	position: absolute;
	z-index: 9999;
	right: 40px;
	top: 40px;
	cursor: pointer;
	transition: var(--transitionAll);
	visibility: hidden;
}
.btn-line {
	width: 40px;
	height: 4px;
	margin: 0 0 5px 0;
	background: var(--textColor);
	transition: var(--mainTransition);
}
.close .btn-line:nth-child(1) {
	transform: rotate(45deg) translate(5px, 5px);
}
.close .btn-line:nth-child(2) {
	opacity: 0;
}
.close .btn-line:nth-child(3) {
	transform: rotate(-45deg) translate(7px, -8px);
}
/* END NAVBAR STYLING */

/* HEADER STYLING */
.header {
	margin: 0 5rem;
	height: calc(100vh - 100px);
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(6, 1fr);
}
.landing-text {
	grid-column: 1 / span 4;
	grid-row: 2 / span 2;
	z-index: 3;
	width: 100%;
	height: 100%;
}
.cta p {
	font-size: 4rem;
	font-weight: 500;
}
.landing-image {
	grid-column: 2 / span 8;
	grid-row: 1 / span 6;
	background-color: blue;
}
.landing-image img {
	width: 100%;
	height: 100%;
}
.contact-info {
	grid-column: 5 / span 8;
	grid-row: 6 / span 6;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: var(--primaryColor);
}
.contact-info > div p {
	font-size: 1.5rem;
}
.contact-info > div i {
	color: #fff;
	font-size: 2rem;
	padding-right: 1rem;
}
.search-bar {
	display: flex;
	width: 100%;
	height: 60px;
}
.search-bar input {
	width: 60%;
	border: none;
  	background-color: white;
}
.search-bar button {
	width: 20%;
	background: var(--primaryColor);
	border: none;
	border-radius: 0 5px 5px 0;
	color: white;
}
/* END HEADER STYLING */

/* ABOUT STYLING */
.about {
	margin: 7rem 4rem;
	display: flex;
	justify-content: space-around;
}
.company {
	width: 50%;
}
.company .heading {
	font-size: 4rem;
	padding-bottom: 2rem;
}
.company p {
	font-size: 1.3rem;
}
.stats {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	grid-gap: 1rem;
	width: 50%;
}
.apartments,
.awards,
.clients,
.employees {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background: var(--mainBack);
	width: 250px;
	height: 250px;
}
.apartments span,
.awards span,
.clients span,
.employees span {
	color: var(--primaryColor);
	font-size: 3rem;
	font-weight: bold;
}
.apartments p,
.awards p,
.employees p,
.clients p {
	font-size: 1.5rem;
	font-weight: 500;
}
/* END ABOUT STYLING */

/* APARTMENTS STYLING */
.main-apartment {
	background-color: var(--mainBack);
}
.apartments-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.apartment-heading {
	padding: 2rem 0 2rem 10rem;
	text-align: left;
	position: relative;
	font-size: 3rem;
	font-weight: 500;
}
.single-apartment {
	display: flex;
	flex-direction: column;
	background: #fff;
	width: 400px;
	box-shadow: var(--mainShadow);
}
.checkoutBtn {
	margin-top: 2rem;
	width: 40%;
	padding: 5px 15px;
	background-color: transparent;
	border: 0.5px solid #000;
	text-transform: uppercase;
}
.checkoutBtn:hover {
	transition: all 0.4s ease-in-out;
	background-color: var(--primaryColor);
	cursor: pointer;
	color: #000;
	border: none;
}
.apartment-image {
	width: 400px;
	height: 400px;
}
.apartment-image img {
	width: 100%;
	height: 100%;
}
.apartment-list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 2rem;
}
.apartment-details {
	padding: 2rem 0;
}
.apartment-detail {
	display: flex;
	justify-content: space-between;
	margin-top: 1rem;
	padding: 0 2rem;
}
.price {
	color: var(--primaryColor);
	font-size: 1.3rem;
	font-weight: bold;
}
.bath {
	padding-right: 1rem;
}
.apartment-footer {
	display: flex;
	margin: 3rem 0;
}
.search-location {
	display: flex;
	padding: 0 0 0 10rem;
	margin-bottom: 4rem;
	width: 70%;
	height: 70px;
}
.search-location input {
	width: 40%;
	border: none;
	padding: 0 2rem;
}
.search-location button {
	width: 20%;
	font-weight: bold;
	font-size: 1.2rem;
	border: none;
	background-color: var(--primaryColor);
	border-radius: 0 5px 5px 0;
}
.apartment-btn {
	margin: 0 -5rem 0 0;
	height: 70px;
	font-weight: 400;
	padding: 0 2rem;
	border: none;
	font-size: 1.2rem;
	color: var(--textColor);
	border-radius: 5px;
}
.search-location button:hover,
.apartment-btn:hover {
	cursor: pointer;
}
.apartment-btn:hover {
	background-color: var(--primaryColor);
	transition: var(--mainTransition);
}
/* END APARTMENTS STYLING */

/* WORKS STYLING */
.agents,
.services,
.works {
	margin: 4rem 4rem;
}
.agents-intro,
.services-intro,
.works-intro {
	width: 40%;
	padding: 2rem 0;
}
.agents-text,
.services-text,
.works-text {
	line-height: 1.5rem;
	letter-spacing: 1px;
}
.agents-heading,
.services-heading,
.works-heading {
	font-size: 3rem;
	font-weight: 500;
	padding-bottom: 2rem;
}
.works-cards {
	display: flex;
}
.works-cards .card {
	position: relative;
	z-index: 1000;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	box-shadow: var(--mainShadow);
	margin: 0 1rem;
	padding: 1rem;
	height: 500px;
}
.works-cards .card:hover {
	background: var(--primaryColor);
	transition: var(--mainTransition);
	cursor: pointer;
}
.works-cards .card h1 {
	position: relative;
	font-size: 7rem;
	z-index: -1000;
	top: -6rem;
	left: -3rem;
}
.instructions {
	margin-top: -10rem;
	font-size: 2rem;
	font-weight: 500;
}
.work-text {
	margin-top: -2rem;
	text-align: center;
	line-height: 25px;
}
.works-cards a {
	color: var(--textColor);
}
/* END WORKS STYLING */

/* SERVICES STYLING */
.services-intro {
	margin-bottom: 3rem;
}
.services-content {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100vh;
}
.services-img {
	width: 50%;
	width: 700px;
	height: 750px;
	margin-right: 2rem;
}
.services-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.service {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 2rem 0;
	height: 100%;
	width: 50%;
}
.service-heading {
	font-size: 2.5rem;
	padding-bottom: 2rem;
}
.service-text {
	line-height: 30px;
}
/* END SERVICES STYLING */

/* AGENTS STYLING */
.agents-container {
	margin: 4rem 4rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: center;
	grid-gap: 1rem;
}
.agent {
	width: 400px;
	box-shadow: var(--mainShadow);
}
.agent-img img {
	width: 100%;
}
.agent-details {
	padding: 2rem 0;
	display: flex;
	justify-content: space-between;
}
.agent-title {
	color: var(--primaryColor);
	padding: 1rem 1rem;
	font-size: 1.4rem;
}
.agent-name {
	padding: 1rem 1rem;
	font-size: 1.4rem;
	font-weight: 600;
}
.socials {
	display: flex;
	align-items: center;
}
.socials i {
	padding: 0 1rem;
}
/* END AGENTS STYLING */

/* ADVERTISEMENTS STYLING */
.ads-container {
	margin: 4rem 4rem;
}
.advert {
	display: flex;
	align-items: center;
	width: 100%;
	margin: 2rem 0;
	height: 500px;
}
.advert:nth-child(2n) {
	display: flex;
	flex-direction: row-reverse;
	text-align: right;
}
.advert:nth-child(2n) .text,
.advert:nth-child(2n) .advertTitle {
	padding-right: 4rem;
}
.adImage {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
	height: 400px;
}
.advert-details {
	width: 50%;
}
.adImage img {
	padding-right: 4rem;
	width: 100%;
	height: 100%;
}
.apartment-location {
	position: relative;
	bottom: 3rem;
	text-align: center;
	background: var(--primaryColor);
	width: 300px;
	padding: 2rem;
	font-size: 1.5rem;
}
.apartment-location i {
	color: #fff;
	font-size: 2rem;
	padding-right: 1.2rem;
}
.advertTitle {
	font-size: 2.5rem;
	margin: -4rem 0 3rem 0;
}
.text {
	line-height: 25px;
}
/* END ADVERTISEMENTS STYLING */

/* FOOTER STYLING */
.footer {
	height: calc(100vh - 100px);
	width: 100%;
	background-color: #2c3e50;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
.footer header {
	display: flex;
	justify-content: space-between;
	margin: 0 7rem;
}
.footer-heading {
	font-size: 2.5rem;
}
.footer-line {
	height: 1px;
	background-color: #fff;
	margin: 0 7rem;
}
.newsletter {
	display: flex;
	height: 100px;
	width: 600px;
}
.newsletter input {
	width: 70%;
	height: 100%;
	border: none;
	padding: 0 0 0 2rem;
}
.newsletter button {
	width: 30%;
	height: 100%;
	border: none;
	background: #fff;
}
.newsletter button i {
	color: var(--textColor);
	font-size: 3rem;
}
.newsletter button:hover {
	cursor: pointer;
}
footer {
	margin: 0 7rem;
	display: flex;
	width: 100%;
}
.logo-section {
	width: 30%;
}
.footer-links {
	width: 70%;
	display: flex;
	justify-content: space-around;
	margin: 0 20rem 0 20rem;
}
.foot-links {
	display: flex;
	flex-direction: column;
}
.footer-links p {
	text-transform: uppercase;
	color: #808b96;
}
.foot-links a {
	text-decoration: none;
	color: #fff;
	padding: 1rem 0;
}
.copy-heading {
	font-size: 2.5rem;
	padding-bottom: 4rem;
}
.copyright {
	line-height: 25px;
	letter-spacing: 2px;
	text-align: center;
	padding-bottom: 1rem;
}
.copyright a {
	color: #fff;
}
.copyright a:hover {
	color: var(--primaryColor);
	transition: all 0.4s ease-in-out;
}
/* END FOOTER STYLING */

/* RESPONSIVE DESIGN */
@media only screen and (max-width: 1200px) {
	/* responsive navbar design */
	nav {
		display: flex;
		justify-content: center;
		width: 100%;
		/* overflow-x: hidden; */
	}
	.logo {
		position: absolute;
		left: 40px;
		z-index: 9999;
	}
	.toggler {
		visibility: visible;
	}
	.nav-links {
		display: none;
	}
	.nav-links.show {
		position: absolute;
		top: 100px;
		left: 0;
		width: 100%;
		z-index: 1000;
		background: #fff;
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100vh;
		padding-top: 2rem;
		overflow-x: hidden;
	}
	.show .nav-link {
		margin-bottom: 1rem;
	}
	.show .nav-link a {
		font-size: 1.2rem;
	}
	.action-links {
		display: none;
	}
	.action-links.action {
		position: absolute;
		z-index: 1000;
		top: 60vh;
		width: 100%;
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	.action button {
		width: 50%;
		margin-top: 1rem;
	}
	/* end navbar responsive design */
	.cta p {
		font-size: 3rem;
	}
	.contact-info {
		display: flex;
		flex-direction: column;
		color: white;
	}
	.contact-info > div p {
		font-size: 1rem;
		color: white;
	}
	.contact-info > div i {
		color: #fff;
		font-size: 1.3rem;
		padding-right: 10px;
	}
	/* apartment responsive design */
	.main-apartment {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.apartment-footer {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
	}
	.apartment-btn {
		margin: 0;
	}
	.works-cards {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.works-cards .card {
		margin: 2rem 0;
		width: 500px;
	}
	.works-intro {
		width: 100%;
		text-align: center;
	}

	.services-intro {
		margin-bottom: 4rem;
	}
	.services-img img {
		width: 100%;
		/* padding-right: 2rem; */
	}
	.agents-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.checkoutBtn {
		padding: 5px 10px;
		text-transform: lowercase;
	}
	.footer {
		height: 100%;
		width: 100%;
	}
	.footer header {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.newsletter {
		margin: 2rem 0;
	}
	footer {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin: 0;
	}
	.logo-section {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 2rem 4rem;
		width: 100%;
	}
	.footer-links {
		width: 100%;
		margin: 0;
	}
}

@media only screen and (max-width: 900px) {
	/* header responsive design */
	.header {
		margin: 0 1rem;
		padding: 0;
	}
	.cta p {
		font-size: 2.5rem;
	}
	.contact-info > div i {
		display: none;
	}
	.search-bar {
		display: flex;
		width: 150%;
		height: 40px;
	}
	.search-bar input {
		width: 60%;
	}
	.contact-info {
		height: 60px;
	}
	.search-bar button {
		width: 40%;
	}
	.landing-image img {
		width: 100%;
		height: 100%;
	}
	/* end header styling */

	/* about responsive design */
	.about {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 4rem 0;
	}
	.company {
		width: 100%;
		padding: 0 1rem;
	}
	.company p {
		text-align: center;
		font-size: 1.5rem;
	}
	.company .heading {
		font-size: 2rem;
	}
	.stats {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 1rem;
		align-items: center;
		margin-top: 2rem;
	}
	/* responsive apartments */
	.apartments-container {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		align-items: center;
		justify-content: center;
		width: 100%;
	}
	.apartment-list {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		width: 100%;
	}
	.apartment-image {
		width: 70%;
		height: 70%;
	}
	.apartment-heading {
		padding: 2rem 0;
		font-size: 2rem;
		text-align: center;
	}
	.single-apartment {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 90%;
		margin: 0 auto;
	}
	.detail {
		font-size: 10px;
		text-transform: lowercase;
	}
	.price {
		padding-right: 10px;
	}
	.search-location {
		width: 180%;
		height: 40px;
	}
	.works-cards .card {
		width: 100%;
	}
	.works {
		margin: 4rem 1rem;
	}
	.numbers {
		position: absolute;
		padding-left: 1.3rem;
		font-size: 4rem !important;
	}
	/* responsive services */
	.services-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
	}
	.services-img {
		width: 100%;
		margin: 0 2rem;
		width: 300px;
		height: 400px;
	}
	.services-img img {
		width: 100%;
	}
	.services {
		margin: 4rem 1rem;
	}
	.service {
		padding: 1rem;
		height: 100%;
		width: 100%;
	}
	.service-heading {
		font-size: 2.5rem;
		padding: 1rem;
	}
	/* responsive agents */
	.agents {
		margin: 4rem 2rem;
	}
	.agents-intro,
	.services-intro {
		width: 100%;
		text-align: left;
	}
	.agents-intro {
		padding: 0;
		margin: 0;
	}
	.agents-container {
		margin: 4rem 2rem;
	}
	.agent {
		width: 300px;
		box-shadow: var(--mainShadow);
	}
	.agent-details {
		display: flex;
		flex-direction: column;
	}
	/* responsive adverts */
	.advert {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 10rem;
	}
	.advert:nth-child(2n) {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 12rem;
	}
	.adImage {
		width: 100%;
	}
	.adImage img {
		padding: 0;
		width: 100%;
	}
	.advert-details {
		margin: 4rem 0;
		height: 100%;
		width: 100%;
	}
	.advert:nth-child(2n) .text,
	.advert:nth-child(2n) .advertTitle {
		padding: 0;
	}
	.advertTitle {
		color: var(--primaryColor);
		font-size: 2rem;
	}
	.apartment-location {
		width: 120%;
		padding: 1rem;
		font-size: 1rem;
	}
	.apartment-location i {
		font-size: 1rem;
	}
	/* responsive footer */
	.footer {
		margin-top: 10rem;
		width: 100%;
	}
	.footer-heading {
		font-size: 2rem;
		padding-top: 1rem;
	}
	.newsletter {
		width: 100%;
		height: 50px;
	}
	.logo-section,
	.footer header,
	.footer-links {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		margin: 0;
	}
	.footer-links p {
		padding-bottom: 0;
	}
}

/* END RESPONSIVE DESIGN*/
